<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form.label :name %>
  <%= form.text_field :name %>


  <%= form.label :birth %>
  <%= form.date_field :birth %>

  <%= form.fields_for :books do |book_fields| %>
    <%= book_fields.label :title %>
    <%= book_fields.text_field :title %>

    <%= book_fields.label :year %>
    <%= book_fields.text_field :year %>
  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
