<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", author_book_path(@author, book) %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_author_book_path %>
<%= link_to "volver al author", author_path(@author) %>
