<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_author_book_path(@book) %> |
  <%= link_to "Back to books", author_books_path %>

  <%= button_to "Destroy this book", author_book_path(@book), method: :delete %>
</div>
